<div class="invoice-box">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td colspan="2">
        <table>
          <tr>
            <td class="title">Mon garagiste</td>
            <td>
              Facture #: <div id="invoice_number"></div><br>
              Edité le : <div id="invoice_edition_date"></div><br>
              Dû le : <div id="invoice_due_date"></div>
              Véhicule : <div id="car_desc"></div> | <div id="car_immat"></div>
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="information">
      <td colspan="2">
        <table>
          <tr>
            <td>
              Mon Garage<br>
              Penny Lane Avenue<br>
              Londres, Boris Johnson
            </td>

            <td>
              Lerat Location<br>
              Service comptabilité<br>
              carole@lerat-location.com
            </td>
          </tr>
        </table>
      </td>
    </tr>

    <tr class="heading">
      <td>
        Payment Method
      </td>

      <td>
        Check #
      </td>
    </tr>

    <tr class="details">
      <td>
        Check
      </td>

      <td>
        1000
      </td>
    </tr>

    <thead class="heading">
      <td>Référence</td>
      <td>Désignation</td>
      <td>Quantité</td>
      <td>PU HT</td>
      <td>P TOTAL HT</td>
    </thead>
    <tbody class="items">
      <tr class="item">
        <td class="item_ref"></td>
        <td class="item_label"></td>
        <td class="item_qte"></td>
        <td class="item_puht"></td>
        <td class="item_ptht"></td>
      </tr>
    </tbody>

    <tr class="total">
      <td>Total HT : <span id="invoice_total_ht"></span></td>
      <td>Total TTC : <span id="invoice_total_ttc"></span></td>
    </tr>
  </table>
</div>
