<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:Times,serif;font-size:15.1px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
div.cls_003{font-family:Times,serif;font-size:15.1px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
span.cls_004{font-family:Times,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_004{font-family:Times,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_005{font-family:Times,serif;font-size:10.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Times,serif;font-size:10.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Times,serif;font-size:8.2px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Times,serif;font-size:8.2px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Times,serif;font-size:8.2px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_007{font-family:Times,serif;font-size:8.2px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_008{font-family:Arial,serif;font-size:13.5px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
div.cls_008{font-family:Arial,serif;font-size:13.5px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_009{font-family:Arial,serif;font-size:13.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_009{font-family:Arial,serif;font-size:13.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_010{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_010{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_011{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_011{font-family:Times,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_012{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_012{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_014{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_014{font-family:Arial,serif;font-size:9.1px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_013{font-family:Arial,serif;font-size:10.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_013{font-family:Arial,serif;font-size:10.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_015{font-family:Arial,serif;font-size:10.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_015{font-family:Arial,serif;font-size:10.5px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_016{font-family:Arial,serif;font-size:7.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_016{font-family:Arial,serif;font-size:7.5px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_017{font-family:Arial,serif;font-size:8.2px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_017{font-family:Arial,serif;font-size:8.2px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_019{font-family:Arial,serif;font-size:6.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_019{font-family:Arial,serif;font-size:6.8px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_018{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
div.cls_018{font-family:Arial,serif;font-size:12.1px;color:rgb(0,0,0);font-weight:bold;font-style:italic;text-decoration: none}
span.cls_020{font-family:Times,serif;font-size:7.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_020{font-family:Times,serif;font-size:7.6px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="f1e92632-4b66-11eb-8b25-0cc47a792c0a_id_f1e92632-4b66-11eb-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="f1e92632-4b66-11eb-8b25-0cc47a792c0a_id_f1e92632-4b66-11eb-8b25-0cc47a792c0a_files/background1.jpg" width=595 height=841></div>
<div style="position:absolute;left:24.12px;top:22.84px" class="cls_003"><span class="cls_003">GARAGE HALOPE LAURENT</span></div>
<div style="position:absolute;left:24.12px;top:41.64px" class="cls_004"><span class="cls_004">La Massonniére</span></div>
<div style="position:absolute;left:24.12px;top:67.84px" class="cls_005"><span class="cls_005">72230</span></div>
<div style="position:absolute;left:66.12px;top:67.84px" class="cls_005"><span class="cls_005">MONCE EN BELIN</span></div>
<div style="position:absolute;left:24.12px;top:90.28px" class="cls_006"><span class="cls_006">Téléphone</span></div>
<div style="position:absolute;left:66.12px;top:90.40px" class="cls_007"><span class="cls_007">02 43 42 41 99</span></div>
<div style="position:absolute;left:24.12px;top:102.28px" class="cls_006"><span class="cls_006">Télécopie</span></div>
<div style="position:absolute;left:66.12px;top:102.40px" class="cls_007"><span class="cls_007">02 43 42 41 99</span></div>
<div style="position:absolute;left:309.12px;top:149.92px" class="cls_008"><span class="cls_008">MM MEROUZE</span></div>
<div style="position:absolute;left:309.12px;top:168.76px" class="cls_002"><span class="cls_002">13 Rue Marcel Doret</span></div>
<div style="position:absolute;left:21.12px;top:184.48px" class="cls_009"><span class="cls_009">FACTURE DUPLICATA</span></div>
<div style="position:absolute;left:21.12px;top:211.12px" class="cls_003"><span class="cls_003">FACTURE N° 33 717</span></div>
<div style="position:absolute;left:309.12px;top:220.00px" class="cls_010"><span class="cls_010">72100</span></div>
<div style="position:absolute;left:360.12px;top:220.00px" class="cls_010"><span class="cls_010">LE MANS</span></div>
<div style="position:absolute;left:24.12px;top:228.16px" class="cls_011"><span class="cls_011">Etablie le :04/09/2020</span></div>
<div style="position:absolute;left:24.12px;top:245.16px" class="cls_012"><span class="cls_012">Règlement</span></div>
<div style="position:absolute;left:75.12px;top:245.76px" class="cls_012"><span class="cls_012">A RECEPTION</span></div>
<div style="position:absolute;left:24.12px;top:257.76px" class="cls_012"><span class="cls_012">à règler le :</span></div>
<div style="position:absolute;left:72.12px;top:257.76px" class="cls_012"><span class="cls_012">04/09/2020</span></div>
<div style="position:absolute;left:474.12px;top:255.76px" class="cls_002"><span class="cls_002">Page n°</span><span class="cls_014"> 1</span></div>
<div style="position:absolute;left:255.12px;top:263.76px" class="cls_012"><span class="cls_012">Document édité en Euro</span></div>
<div style="position:absolute;left:24.12px;top:275.92px" class="cls_008"><span class="cls_008">Informations sur le véhicule</span></div>
<div style="position:absolute;left:375.12px;top:276.04px" class="cls_009"><span class="cls_009">Immatriculation :</span></div>
<div style="position:absolute;left:496.08px;top:276.04px" class="cls_009"><span class="cls_009">DB 884 QR</span></div>
<div style="position:absolute;left:30.12px;top:293.08px" class="cls_013"><span class="cls_013">Marque :</span></div>
<div style="position:absolute;left:129.12px;top:293.08px" class="cls_013"><span class="cls_013">RENAULT</span></div>
<div style="position:absolute;left:309.12px;top:293.08px" class="cls_013"><span class="cls_013">N° de Série :</span></div>
<div style="position:absolute;left:30.12px;top:305.08px" class="cls_013"><span class="cls_013">Modèle :</span></div>
<div style="position:absolute;left:129.12px;top:305.08px" class="cls_013"><span class="cls_013">TRAFIC II</span></div>
<div style="position:absolute;left:309.12px;top:305.08px" class="cls_013"><span class="cls_013">Genre :</span></div>
<div style="position:absolute;left:384.12px;top:305.08px" class="cls_013"><span class="cls_013">CAMION > 3.500 KGS</span></div>
<div style="position:absolute;left:30.12px;top:317.08px" class="cls_013"><span class="cls_013">Kilométrage :</span></div>
<div style="position:absolute;left:129.12px;top:317.44px" class="cls_015"><span class="cls_015">50 848</span></div>
<div style="position:absolute;left:309.12px;top:317.08px" class="cls_013"><span class="cls_013">Couleur :</span></div>
<div style="position:absolute;left:30.12px;top:329.08px" class="cls_013"><span class="cls_013">Mise en circulation :</span></div>
<div style="position:absolute;left:309.12px;top:328.36px" class="cls_013"><span class="cls_013">Ingrédient :</span></div>
<div style="position:absolute;left:39.36px;top:356.76px" class="cls_014"><span class="cls_014">Référence</span></div>
<div style="position:absolute;left:109.92px;top:356.76px" class="cls_014"><span class="cls_014">M</span></div>
<div style="position:absolute;left:125.88px;top:356.76px" class="cls_014"><span class="cls_014">Qte / Tps</span></div>
<div style="position:absolute;left:243.84px;top:356.76px" class="cls_014"><span class="cls_014">Désignation</span></div>
<div style="position:absolute;left:378.96px;top:356.76px" class="cls_014"><span class="cls_014">Prix Unit.</span></div>
<div style="position:absolute;left:465.72px;top:356.76px" class="cls_014"><span class="cls_014">Prix Net</span></div>
<div style="position:absolute;left:514.92px;top:356.76px" class="cls_014"><span class="cls_014">Montant HT</span></div>
<div style="position:absolute;left:24.12px;top:377.05px" class="cls_016"><span class="cls_016">90</span></div>
<div style="position:absolute;left:108.12px;top:377.05px" class="cls_016"><span class="cls_016">F</span></div>
<div style="position:absolute;left:145.92px;top:377.05px" class="cls_016"><span class="cls_016">1,000</span></div>
<div style="position:absolute;left:171.12px;top:376.69px" class="cls_016"><span class="cls_016">Vidange moteur - Niveaux - Pression pneumatique-</span></div>
<div style="position:absolute;left:403.92px;top:377.05px" class="cls_016"><span class="cls_016">22,50</span></div>
<div style="position:absolute;left:487.92px;top:377.05px" class="cls_016"><span class="cls_016">22,50</span></div>
<div style="position:absolute;left:550.92px;top:377.05px" class="cls_016"><span class="cls_016">22,50</span></div>
<div style="position:absolute;left:171.12px;top:384.97px" class="cls_016"><span class="cls_016">Contrôle organes securité-</span></div>
<div style="position:absolute;left:24.12px;top:393.61px" class="cls_016"><span class="cls_016">L460</span></div>
<div style="position:absolute;left:145.92px;top:393.61px" class="cls_016"><span class="cls_016">1,000</span></div>
<div style="position:absolute;left:171.12px;top:393.61px" class="cls_016"><span class="cls_016">Filtre à Huile</span></div>
<div style="position:absolute;left:403.92px;top:393.61px" class="cls_016"><span class="cls_016">14,69</span></div>
<div style="position:absolute;left:487.92px;top:393.61px" class="cls_016"><span class="cls_016">14,69</span></div>
<div style="position:absolute;left:550.92px;top:393.61px" class="cls_016"><span class="cls_016">14,69</span></div>
<div style="position:absolute;left:24.12px;top:403.33px" class="cls_016"><span class="cls_016">91</span></div>
<div style="position:absolute;left:108.12px;top:403.33px" class="cls_016"><span class="cls_016">F</span></div>
<div style="position:absolute;left:145.92px;top:403.33px" class="cls_016"><span class="cls_016">1,000</span></div>
<div style="position:absolute;left:171.12px;top:403.33px" class="cls_016"><span class="cls_016">Remplacé cartouche filtre à huile</span></div>
<div style="position:absolute;left:408.00px;top:403.33px" class="cls_016"><span class="cls_016">8,00</span></div>
<div style="position:absolute;left:492.00px;top:403.33px" class="cls_016"><span class="cls_016">8,00</span></div>
<div style="position:absolute;left:555.00px;top:403.33px" class="cls_016"><span class="cls_016">8,00</span></div>
<div style="position:absolute;left:24.12px;top:413.05px" class="cls_016"><span class="cls_016">DFAH</span></div>
<div style="position:absolute;left:145.92px;top:413.05px" class="cls_016"><span class="cls_016">1,000</span></div>
<div style="position:absolute;left:171.12px;top:412.69px" class="cls_016"><span class="cls_016">Participation au traitement des déchets polluants - Filtre à</span></div>
<div style="position:absolute;left:408.00px;top:413.05px" class="cls_016"><span class="cls_016">0,25</span></div>
<div style="position:absolute;left:492.00px;top:413.05px" class="cls_016"><span class="cls_016">0,25</span></div>
<div style="position:absolute;left:555.00px;top:413.05px" class="cls_016"><span class="cls_016">0,25</span></div>
<div style="position:absolute;left:171.12px;top:420.97px" class="cls_016"><span class="cls_016">huile</span></div>
<div style="position:absolute;left:24.12px;top:429.61px" class="cls_016"><span class="cls_016">JDV</span></div>
<div style="position:absolute;left:145.92px;top:429.61px" class="cls_016"><span class="cls_016">1,000</span></div>
<div style="position:absolute;left:171.12px;top:429.61px" class="cls_016"><span class="cls_016">Joint de Bouchon de vidange</span></div>
<div style="position:absolute;left:408.00px;top:429.61px" class="cls_016"><span class="cls_016">0,95</span></div>
<div style="position:absolute;left:492.00px;top:429.61px" class="cls_016"><span class="cls_016">0,95</span></div>
<div style="position:absolute;left:555.00px;top:429.61px" class="cls_016"><span class="cls_016">0,95</span></div>
<div style="position:absolute;left:24.12px;top:439.33px" class="cls_016"><span class="cls_016">5W30 C4</span></div>
<div style="position:absolute;left:145.92px;top:439.33px" class="cls_016"><span class="cls_016">7,700</span></div>
<div style="position:absolute;left:171.12px;top:439.33px" class="cls_016"><span class="cls_016">Huile FUCHS 5W30 C4</span></div>
<div style="position:absolute;left:403.92px;top:439.33px" class="cls_016"><span class="cls_016">13,50</span></div>
<div style="position:absolute;left:487.92px;top:439.33px" class="cls_016"><span class="cls_016">13,50</span></div>
<div style="position:absolute;left:546.84px;top:439.33px" class="cls_016"><span class="cls_016">103,95</span></div>
<div style="position:absolute;left:24.12px;top:449.05px" class="cls_016"><span class="cls_016">DH</span></div>
<div style="position:absolute;left:145.92px;top:449.05px" class="cls_016"><span class="cls_016">7,700</span></div>
<div style="position:absolute;left:171.12px;top:449.05px" class="cls_016"><span class="cls_016">Dépollution huile moteur</span></div>
<div style="position:absolute;left:408.00px;top:449.05px" class="cls_016"><span class="cls_016">0,10</span></div>
<div style="position:absolute;left:492.00px;top:449.05px" class="cls_016"><span class="cls_016">0,10</span></div>
<div style="position:absolute;left:555.00px;top:449.05px" class="cls_016"><span class="cls_016">0,77</span></div>
<div style="position:absolute;left:24.12px;top:458.77px" class="cls_016"><span class="cls_016">A1161</span></div>
<div style="position:absolute;left:145.92px;top:458.77px" class="cls_016"><span class="cls_016">1,000</span></div>
<div style="position:absolute;left:171.12px;top:458.77px" class="cls_016"><span class="cls_016">Filtre à air</span></div>
<div style="position:absolute;left:403.92px;top:458.77px" class="cls_016"><span class="cls_016">32,75</span></div>
<div style="position:absolute;left:487.92px;top:458.77px" class="cls_016"><span class="cls_016">32,75</span></div>
<div style="position:absolute;left:550.92px;top:458.77px" class="cls_016"><span class="cls_016">32,75</span></div>
<div style="position:absolute;left:24.12px;top:468.49px" class="cls_016"><span class="cls_016">92</span></div>
<div style="position:absolute;left:108.12px;top:468.49px" class="cls_016"><span class="cls_016">F</span></div>
<div style="position:absolute;left:145.92px;top:468.49px" class="cls_016"><span class="cls_016">1,000</span></div>
<div style="position:absolute;left:171.12px;top:468.49px" class="cls_016"><span class="cls_016">Remplacé cartouche filtre à air</span></div>
<div style="position:absolute;left:408.00px;top:468.49px" class="cls_016"><span class="cls_016">8,10</span></div>
<div style="position:absolute;left:492.00px;top:468.49px" class="cls_016"><span class="cls_016">8,10</span></div>
<div style="position:absolute;left:555.00px;top:468.49px" class="cls_016"><span class="cls_016">8,10</span></div>
<div style="position:absolute;left:24.12px;top:478.21px" class="cls_016"><span class="cls_016">C491</span></div>
<div style="position:absolute;left:145.92px;top:478.21px" class="cls_016"><span class="cls_016">1,000</span></div>
<div style="position:absolute;left:171.12px;top:478.21px" class="cls_016"><span class="cls_016">Filtre à gasoil</span></div>
<div style="position:absolute;left:403.92px;top:478.21px" class="cls_016"><span class="cls_016">26,06</span></div>
<div style="position:absolute;left:487.92px;top:478.21px" class="cls_016"><span class="cls_016">26,06</span></div>
<div style="position:absolute;left:550.92px;top:478.21px" class="cls_016"><span class="cls_016">26,06</span></div>
<div style="position:absolute;left:24.12px;top:487.93px" class="cls_016"><span class="cls_016">93</span></div>
<div style="position:absolute;left:108.12px;top:487.93px" class="cls_016"><span class="cls_016">F</span></div>
<div style="position:absolute;left:145.92px;top:487.93px" class="cls_016"><span class="cls_016">1,000</span></div>
<div style="position:absolute;left:171.12px;top:487.93px" class="cls_016"><span class="cls_016">Remplacé cartouche filtre à gasoil</span></div>
<div style="position:absolute;left:403.92px;top:487.93px" class="cls_016"><span class="cls_016">21,00</span></div>
<div style="position:absolute;left:487.92px;top:487.93px" class="cls_016"><span class="cls_016">21,00</span></div>
<div style="position:absolute;left:550.92px;top:487.93px" class="cls_016"><span class="cls_016">21,00</span></div>
<div style="position:absolute;left:24.12px;top:497.65px" class="cls_016"><span class="cls_016">DPAC</span></div>
<div style="position:absolute;left:145.92px;top:497.65px" class="cls_016"><span class="cls_016">1,000</span></div>
<div style="position:absolute;left:171.12px;top:497.65px" class="cls_016"><span class="cls_016">Participation au traitement des déchets Filtre à carburant</span></div>
<div style="position:absolute;left:408.00px;top:497.65px" class="cls_016"><span class="cls_016">0,25</span></div>
<div style="position:absolute;left:492.00px;top:497.65px" class="cls_016"><span class="cls_016">0,25</span></div>
<div style="position:absolute;left:555.00px;top:497.65px" class="cls_016"><span class="cls_016">0,25</span></div>
<div style="position:absolute;left:24.12px;top:507.37px" class="cls_016"><span class="cls_016">LG</span></div>
<div style="position:absolute;left:145.92px;top:507.37px" class="cls_016"><span class="cls_016">2,000</span></div>
<div style="position:absolute;left:171.12px;top:507.37px" class="cls_016"><span class="cls_016">Lave Glace - 20 C</span></div>
<div style="position:absolute;left:408.00px;top:507.37px" class="cls_016"><span class="cls_016">2,27</span></div>
<div style="position:absolute;left:492.00px;top:507.37px" class="cls_016"><span class="cls_016">2,27</span></div>
<div style="position:absolute;left:555.00px;top:507.37px" class="cls_016"><span class="cls_016">4,54</span></div>
<div style="position:absolute;left:24.12px;top:517.09px" class="cls_016"><span class="cls_016">LDR-</span></div>
<div style="position:absolute;left:145.92px;top:517.09px" class="cls_016"><span class="cls_016">0,300</span></div>
<div style="position:absolute;left:171.12px;top:517.09px" class="cls_016"><span class="cls_016">Liquide de refroidissement</span></div>
<div style="position:absolute;left:408.00px;top:517.09px" class="cls_016"><span class="cls_016">3,05</span></div>
<div style="position:absolute;left:492.00px;top:517.09px" class="cls_016"><span class="cls_016">3,05</span></div>
<div style="position:absolute;left:555.00px;top:517.09px" class="cls_016"><span class="cls_016">0,92</span></div>
<div style="position:absolute;left:24.12px;top:526.81px" class="cls_016"><span class="cls_016">RLDF</span></div>
<div style="position:absolute;left:108.12px;top:526.81px" class="cls_016"><span class="cls_016">F</span></div>
<div style="position:absolute;left:145.92px;top:526.81px" class="cls_016"><span class="cls_016">1,000</span></div>
<div style="position:absolute;left:171.12px;top:526.81px" class="cls_016"><span class="cls_016">Remplacement du liquide de Frein</span></div>
<div style="position:absolute;left:403.92px;top:526.81px" class="cls_016"><span class="cls_016">50,17</span></div>
<div style="position:absolute;left:487.92px;top:526.81px" class="cls_016"><span class="cls_016">50,17</span></div>
<div style="position:absolute;left:550.92px;top:526.81px" class="cls_016"><span class="cls_016">50,17</span></div>
<div style="position:absolute;left:24.12px;top:536.53px" class="cls_016"><span class="cls_016">CLIM1-</span></div>
<div style="position:absolute;left:108.12px;top:536.53px" class="cls_016"><span class="cls_016">F</span></div>
<div style="position:absolute;left:145.92px;top:536.53px" class="cls_016"><span class="cls_016">1,000</span></div>
<div style="position:absolute;left:171.12px;top:536.53px" class="cls_016"><span class="cls_016">Recharge Clim</span></div>
<div style="position:absolute;left:403.92px;top:536.53px" class="cls_016"><span class="cls_016">62,50</span></div>
<div style="position:absolute;left:487.92px;top:536.53px" class="cls_016"><span class="cls_016">62,50</span></div>
<div style="position:absolute;left:550.92px;top:536.53px" class="cls_016"><span class="cls_016">62,50</span></div>
<div style="position:absolute;left:55.68px;top:688.48px" class="cls_017"><span class="cls_017">Libellé</span></div>
<div style="position:absolute;left:137.28px;top:688.48px" class="cls_017"><span class="cls_017">Montant HT</span></div>
<div style="position:absolute;left:223.32px;top:688.48px" class="cls_017"><span class="cls_017">Mt. Remise</span></div>
<div style="position:absolute;left:306.00px;top:688.48px" class="cls_017"><span class="cls_017">Montant Net</span></div>
<div style="position:absolute;left:375.12px;top:696.84px" class="cls_012"><span class="cls_012">TOTAL H.T.</span></div>
<div style="position:absolute;left:541.56px;top:696.84px" class="cls_012"><span class="cls_012">357,40</span></div>
<div style="position:absolute;left:24.12px;top:708.84px" class="cls_012"><span class="cls_012">Total Pièces</span></div>
<div style="position:absolute;left:172.56px;top:708.84px" class="cls_012"><span class="cls_012">185,13</span></div>
<div style="position:absolute;left:337.56px;top:708.84px" class="cls_012"><span class="cls_012">185,13</span></div>
<div style="position:absolute;left:375.12px;top:708.84px" class="cls_012"><span class="cls_012">TOTAL T.V.A.</span></div>
<div style="position:absolute;left:546.60px;top:708.84px" class="cls_012"><span class="cls_012">71,48</span></div>
<div style="position:absolute;left:24.12px;top:720.84px" class="cls_012"><span class="cls_012">Total Main d'oeuvre</span></div>
<div style="position:absolute;left:172.56px;top:721.56px" class="cls_012"><span class="cls_012">172,27</span></div>
<div style="position:absolute;left:337.44px;top:720.72px" class="cls_012"><span class="cls_012">172,27</span></div>
<div style="position:absolute;left:375.12px;top:720.84px" class="cls_012"><span class="cls_012">TOTAL T.T.C.</span></div>
<div style="position:absolute;left:541.56px;top:720.84px" class="cls_012"><span class="cls_012">428,88</span></div>
<div style="position:absolute;left:24.12px;top:732.84px" class="cls_012"><span class="cls_012">Total Ingrédient</span></div>
<div style="position:absolute;left:375.12px;top:732.84px" class="cls_012"><span class="cls_012">DIVERS T.T.C.</span></div>
<div style="position:absolute;left:24.12px;top:744.84px" class="cls_012"><span class="cls_012">Port</span></div>
<div style="position:absolute;left:375.12px;top:744.84px" class="cls_012"><span class="cls_012">ACOMPTE</span></div>
<div style="position:absolute;left:24.12px;top:756.84px" class="cls_012"><span class="cls_012">Divers H.T.</span></div>
<div style="position:absolute;left:375.12px;top:757.56px" class="cls_012"><span class="cls_012">REGLEMENT</span></div>
<div style="position:absolute;left:23.28px;top:771.16px" class="cls_019"><span class="cls_019">Conditions Générales de Ventes spécifiques aux professionnels :</span></div>
<div style="position:absolute;left:375.12px;top:769.96px" class="cls_018"><span class="cls_018">NET A PAYER</span></div>
<div style="position:absolute;left:520.32px;top:769.96px" class="cls_018"><span class="cls_018">428,88</span></div>
<div style="position:absolute;left:555.12px;top:769.96px" class="cls_018"><span class="cls_018">€</span></div>
<div style="position:absolute;left:23.28px;top:778.96px" class="cls_019"><span class="cls_019">En cas de défaut de paiement, le Client sera redevable de plein droit, au titre des frais de recouvrement, de</span></div>
<div style="position:absolute;left:23.28px;top:786.76px" class="cls_019"><span class="cls_019">l’indemnité forfaitaire de 40</span></div>
<div style="position:absolute;left:106.03px;top:786.76px" class="cls_019"><span class="cls_019">€ prévue par les articles L.441-6 et D.441-5 du Code de commerce sans préjudice de</span></div>
<div style="position:absolute;left:23.28px;top:794.56px" class="cls_019"><span class="cls_019">toute indemnité complémentaire en application de l’article L.441-6 du Code de commerce.</span></div>
<div style="position:absolute;left:375.12px;top:787.96px" class="cls_018"><span class="cls_018">Soit</span></div>
<div style="position:absolute;left:510.24px;top:787.96px" class="cls_018"><span class="cls_018">2 813,27</span></div>
<div style="position:absolute;left:555.12px;top:787.96px" class="cls_018"><span class="cls_018">F</span></div>
<div style="position:absolute;left:160.80px;top:810.40px" class="cls_020"><span class="cls_020">SARL au capital de 3000,00</span></div>
<div style="position:absolute;left:249.12px;top:810.40px" class="cls_020"><span class="cls_020">€ - SIREN : 789957297 - RCS :  - N° TVA :  - APE : 4520A</span></div>
</div>

</body>
</html>
